.tab-pane {
    -fx-background-color: rgb(85, 85, 90);
}

.tab-pane .tab {
    -fx-background-color: rgb(85, 85, 90);
}

.tab-pane .tab-header-background {
    -fx-background-color: rgb(57, 57, 57);
}

.text-field, .text-area {
    -fx-background-color: rgb(68, 71, 77);
    -fx-text-fill: rgb(199, 199, 199);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: linear-gradient(rgb(69, 71, 74), rgb(60, 62, 65));
    -fx-text-fill: rgb(199, 199, 199);
}

.label, .tab-label {
    -fx-text-fill: rgb(199, 199, 199);
}

.combo-box {
    -fx-background-color: rgb(67, 67, 72);
    -fx-text-fill: rgb(199, 199, 199);
}

.combo-box .arrow {
  -fx-background-color: rgb(199, 199, 199);
  -fx-background-insets: 0;
}

.combo-box .list-cell {
    -fx-text-fill: rgb(199, 199, 199);
    -fx-background-color: rgb(85, 85, 90);
}

.combo-box-popup .list-view {
    -fx-background-color: rgb(85, 85, 90);
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgb(199, 199, 199);
    -fx-text-fill: black;
}

.check-box {
    -fx-text-fill: rgb(199, 199, 199);
}

.check-box *.box {
    -fx-background-color: linear-gradient(rgb(69, 71, 74), rgb(60, 62, 65));
}

.check-box:selected .mark {
    -fx-background-color: rgb(199, 199, 199);
}

.radio-button {
    -fx-text-fill: rgb(199, 199, 199);
}

.radio-button .radio {
    -fx-background-color: linear-gradient(rgb(69, 71, 74), rgb(60, 62, 65));
}

.radio-button .radio:selected .dot {
    -fx-background-color: rgb(199, 199, 199);
}
